{% extends 'base.html' %}
{% block title %}Detect Disease - CropDetect AI{% endblock %}
{% block content %}
<div class="upload-section">
    <div class="upload-overlay">
        <div class="upload-box">
            <h2> Upload a Leaf Image</h2>
            <p><strong>plant diseases quickly using our AI model</strong> </p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="image" accept="image/*" required><br>
                <button type="submit">🔍 Analyze</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
